.wrapper {
  width : 1200px;
  margin: 0 auto;
}
.logo {
  margin: 0%;
}
.logoImage {
  position : relative;
  witdh : 300px;
  height : 100px;
}
#gnb {
  display :block;
  position: relative;
  padding: 0 0 0 0;
  border-radius : 18px;
  background-color: #262626;
  width: 1200px;
}
.groupNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0 0 0 0;
  width: 800px;
  height: 70px;
}
.navItem {
  flex-grow: 1;
  font-size: 15px;
  text-align: center;
}
.snsNav {

}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
  border: 2px solid black;
}
.contentLeft {
  grid-column: 1/10;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.leagueBanner {
  display: inline;
  flex: none;
}
.bannerSlide {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.boards {
  width: 100%;
  border: 2px solid black;
}
.contentRight {
  grid-column: 10/13;
  display : flex;
  border: 2px solid black;
}