.wrapper {
  width : 1200px;
  margin: 0 auto;
}
.logo {
  margin: 0%;
}
.logoImage {
  position : relative;
  width : 300px;
  height : 100px;
}
#gnb {
  display :block;
  position: relative;
  padding: 0 0 0 0;
  border-radius : 18px;
  background-color: #262626;
  width: 1200px;
}
.groupNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0 0 0 0;
  width: 800px;
  height: 70px;
}
.navItem {
  flex-grow: 1;
  font-size: 15px;
  text-align: center;
}
.navItem > a:link, .navItem > a:visited, .navItem > a:hover, .navItem > a:active {
  color:white;
}
.snsNav {

}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  width: 1200px;
  margin: 0 auto;
}
.contentLeft {
  grid-column: 1/10;
}
.leagueBanner {
  display: inline;
  flex: none;
  margin: 0%;
  border: 0%;
}
.leagueBanner > a {
  margin: 0%;
  border: 0%;
}
.bannerSlide {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.boards {
  width: 100%;
  margin-top: 5px;
}
.boardsNav {
  border-bottom: 2px solid #b2b2b2;
}
.groupBoardsNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0%;
  padding: 0 0 0 0;
  width: 470px;
  height: 60px;
}
.boardsNavItem {
  flex-grow: 1;
  font-size: 20px;
  text-align: center;
}
.boardsNavItem > a:link, .boardsNavItem > a:visited {
  color:#b2b2b2;
}
.boardsNavItem > a:hover, .boardsNavItem > a:active {
  color:black;
}
.boardsContent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  width: 100%;
  height: 615px;
  margin-top: 15px;
}
.contentFeed:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
  border: 2px solid black;
}
.contentFeed:nth-child(2) {
  grid-column: 4/7;
  grid-row: 1/2;
  border: 2px solid black;
}
.contentFeed:nth-child(3) {
  grid-column: 7/10;
  grid-row: 1/2;
  border: 2px solid black;
}
.contentFeed:nth-child(4) {
  grid-column: 1/4;
  grid-row: 2/3;
  border: 2px solid black;
}
.contentFeed:nth-child(5) {
  grid-column: 4/7;
  grid-row: 2/3;
  border: 2px solid black;
}
.contentFeed:nth-child(6) {
  grid-column: 7/10;
  grid-row: 2/3;
  border: 2px solid black;
}

.contentRight {
  grid-column: 10/13;
  display: flex;
  flex-direction: column;
}
.loginArea {
  witdh: 100%;
  height: 300px;
  background-color: #f7f7f7;
  border-radius: 30px;
} 
fieldset {
  witdh: 100%;
  height: 300px;
  border: 0;
}
.loginInput {
  display: inline-block;
}
.labLogin {
  position: absolute;
  margin: 5px 0 0 10px;
  color: #b2b2b2;
}
.inputBox {
  display: block;
  margin: 5px 15px 0 0;
}
.inpTxt {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}
.btnInoutLogin {
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}
.btnInoutLogin:hover {
  cursor: pointer;
}
.loginSet {
  margin-top: 10px;
}
.contentHolder {
  margin-top: 10px;
  width: 100%;
  height: auto;
  min-height: 300px;
  background-color: #f7f7f7;
  border-radius: 30px;
}
.footer {

}